<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/#!sanpham-theoloai/{{vm.sanpham.loaiSanPham}}">{{vm.sanpham.loaiSanPham}}</a></li>
		<li class="active">{{vm.sanpham.tenSanPham}}</li>
		
		
		
	</ol>
	<div class="row">
		<div class="col-md-3" id="thoigianbanhang">
			<div class="panel panel-info">
				<div class="panel-heading text-center">
					Thời gian bán hàng
				</div>
				<div class="panel-body">
					<p><strong>Thời gian mở cửa</strong></p>
					<p><li>Sáng: 08:30 - 11:00</li></p>
					<p><li>Chiều: 13:30 - 18:00</li></p>
					<p>Ngày mở cửa: Thứ 2 - Thứ 7</p>
					<hr>
					<p><strong>Thời gian bảo hành</strong></p>
					<p><li>Sáng: 08:30 - 11:00</li></p>
					<p><li>Chiều: 13:30 - 18:00</li></p>
					<p>Ngày bảo hành: Thứ 2 - Thứ 6</p>
					<hr>
				</div>
				<a href="#"><img class="img-thumbnail" src="/images/thanhtoan/vanchuyen.jpg"></a>
				<a href="#" ><img class="img-thumbnail" src="/images/thanhtoan/quydinhbaohanh.jpg"></a>

			</div>
		</div>
		<div class="col-xs-12 col-md-9">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p><img class="img-responsive img-rounded" ng-src="{{vm.sanpham.tenFileAnh}}"></p>
					<p>
						<button type="button" class="btn btn-primary " ng-disabled="vm.disable" ng-click="vm.like()">
          					<span class="glyphicon glyphicon-thumbs-up"></span>
       					</button>
						<a href="#" class="btn btn-primary">
							<span class="badge" >Like: <span style="color: red;">{{vm.sanpham.likes}}</span></span>
						</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" class="btn btn-primary pull-right">
							<span class="badge">Lượt xem: 
								<span style="color: green;">{{vm.sanpham.luotXem}}</span>
							</span>
						</a>
					</p>
					<p>
						<a href="#" class="btn btn-primary">
							<span class="badge" >
							Đánh giá: <Strong style="color:#ffc120" rating-stars rating='vm.sanpham.rating'></strong>
						</span>
						</a>
					<p>
				</div>
				<div class="col-xs-12 col-md-6">
					<H3 >{{vm.sanpham.tenSanPham}}</H3>
					<ul class="list-group">
					<li class="list-group-item"><h4>Giá: <span style="color: #ff6e25">{{vm.sanpham.gia|formatPrice}}</span></h4></li>

					<li class="list-group-item">Bao bì sản phẩm có thể thay đổi theo từn đợt hàng</p></li>
					
					<div style="margin-top: 20px;"><button class=" btn btn-primary" ng-click="vm.themVaoGioHang()" type="submit" ><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ</button>
					&nbsp;&nbsp;
					<a class="btn btn-success" href="/#!muangay/{{vm.sanpham._id}}"><span class="glyphicon glyphicon-ok-sign"></span> Mua ngay</a></div>


				</div>
			</div>
			<div class="row">
				<br>
				<H4>MÔ TẢ SẢN PHẨM</H4>
				<ul class="list-group">
					<li class="list-group-item"><p>{{vm.sanpham.moTa}}</p></li>
				</ul>
			</div>
			<div class="row">
				<a  ng-show="vm.isLoggedIn" ng-click="vm.popupReviewForm()" class="btn btn-success pull-right">Viết Nhận xét</a>
				<a ng-hide="vm.isLoggedIn" href="/#!login?page={{currentPath}}" class="btn btn-danger pull-right">Đăng nhập để được nhận xét</a>
				<div class="panel panel-default">
					<div class="panel-heading">
						<p class="panel-title">KHÁCH HÀNG NHẬN XÉT</p>
					</div>
					<div class="panel-body">
				
						<div class="media" ng-repeat="review in vm.sanpham.reviews| orderBy:'thoiGian':true">
							<div class="row">
								<div class="col-xs-5 col-md-2 text-center">
									<a href="#">
										<img width="50px" height="50px" class="img-circle " src="/avatar/user.png">
									</a>
									<br>
									<STRONG>{{review.nguoiBinhLuan}}</STRONG>
								</div>
								<div class="col-xs-7 col-md-10">
									<strong class="media-heading"><span style="color:#ffc120">
										<Strong rating-stars rating='review.rating'></strong>
									</span></strong>
									<small class="text-muted">  {{review.thoiGian | formatTime}}</small>		
									<p>{{review.noiDung}}</p>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>