/*Home flex box*/
.row.display-flex {
	display: flex;
	flex-wrap: wrap;
	background: white;

}

.row.display-flex > [class*='col-'] {
	background: white;
	margin-bottom: 20px;
	padding-top: 5px;
	overflow:hidden;
	border: 1px solid #f0f0f0;
}
.row.display-flex > [class*='col-']:hover{
	background: #f9fdff;
	border: 1px solid #a4ddff;
}
/*ve chung toi*/
#vechungtoi{
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin-bottom: 30px;
}

/*Thoi gian ban hang bar*/
@media screen and (max-width:768px ){
	#thoigianbanhang{
		display: none;
	}
}


/*footer*/
footer{
	margin-top: 30px;
}
#footer{
	color: #a7a7a7;
	padding: 25px
}
#footercontainer{
	background: #323c4e;
}
#footercontainer2{
	background: #28303e;
	color: #a7a7a7;
	padding: 20px;
}
#mapicon{
	color: #a7a7a7;
	border: 1px solid #a7a7a7;
	padding: 7px;
	margin-left: 5px;
}
