<!DOCTYPE html>
<html>
<head>
	<title>WEB BAN HANG</title>
	<% include ../partials/stylesheet %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
		<p>Web ban hang</p>
	</div>

	<% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>